{% extends 'base.html.twig' %}

{% block title %}Test Symfony{% endblock %}

{% block body %}
    <h1>Symfony fonctionne !</h1>
    <p>Ceci est un test de page utilisant un modèle de base.</p>
{% endblock %}
